<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.RoleMapper">

    <insert id="insert">
        <selectKey resultType="integer" order="BEFORE" keyProperty="id">
            select SEQ_T_ROLE.nextval from dual
        </selectKey>
        insert into T_ROLE (id, ROLENAME, EXPLAIN, STATUS, OPERATOR)
        values (#{id},#{roleName}, #{explain}, #{status}, #{operator})
    </insert>
    <update id="update">
        update T_ROLE set ROLENAME=#{roleName},explain=#{explain},status=#{status},operator=#{operator},updatetime=#{updateTime} where id=#{id}
    </update>
    <delete id="delete">
        delete from T_ROLE where id=#{id}
    </delete>
    <select id="selectAll" resultType="entity.Role">
        select * from T_ROLE
    </select>
    <resultMap id="roleMap" type="entity.Role">
        <id column="id" property="id"></id>
        <result column="rolename" property="roleName"></result>
        <result column="explain" property="explain"></result>
        <result column="status" property="status"></result>
        <result column="operator" property="operator"></result>
        <result column="createtime" property="createTime"></result>
        <result column="updatetime" property="updateTime"></result>
        <!--集合对象配置-->
        <!--column:传递的列值 select：关联查询-->
        <collection property="resourceList" ofType="entity.Resource"
                    column="id" select="selectByRoleId">
        </collection>
    </resultMap>
    <select id="selectById" resultMap="roleMap">
        select * from T_ROLE where id=#{id}
    </select>
    <select id="selectByRoleId" resultType="entity.Resource">
        select t1.* from T_RESOURCE t1,T_ROLE_RESOURCE t2
        where t1.id=t2.MENUID and t2.ROLEID=#{roleid}
    </select>
</mapper>